@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

/*Header part*/
.header-container{
    background-color: rgb(89, 148, 196);
    height: 12vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}
.branding img{
    height: 8vh;
    width: 9vh;
    padding: 1em;
}
.nav-bar ul{
    list-style-type: none;
    padding-right: 2em;
}
.nav-bar ul li{
    display: inline;
    padding-left: 4em;
}
.nav-bar ul li a{
    text-decoration: none;
    color: black;
    font-size: 1.2em;
    font-weight: bold;
    padding: 1em;
}
.nav-bar ul li a:hover{
    color: wheat;
    border-bottom: wheat;
}

/* Hero unit CSS*/
.hero-unit-container{
    background-image: url("../images/sayan-nath-l3NHCLojHds-unsplash.jpg");
    padding-top: 12vh;
    height: 85vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.hero-unit-container h1{
    font-size: 3em;
    padding-top: 25vh;
    text-transform: uppercase;
}
.hero-unit-container a{
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
    color: white;
    background-color: goldenrod;
    padding: 1em;
    border-radius: 10px;
    display: block;
    width: 10vw;
    margin: 1em auto;
}
.hero-unit-container a:hover{
    color: goldenrod;
    background-color: white;
}


/*Flex-cards CSS*/
section.paper-flex-container{
    margin-top: 0;
}

.paper-flex-container{
    margin:5vh 0;
    /*height: 85vh;*/
    text-align:center;
    display: flex;
    flex-direction: column;
   /* background-color: #a0d2eb;*/
    padding-bottom: 1em;

    background-image: url("../images/kaiwen-wang-m6kzzSXrMMc-unsplash.jpg");
    /*height: 90vh; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center; 
    margin: 0;
}
.paper-flex-container h1{
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}
.paper-flex-row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.individual{
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    padding: 0.75em;
    padding-bottom: 2.5em;
    background-color: rgb(89, 148, 196);

    box-shadow: 5px 5px 15px black;
    border-radius: 15px;
}
.individual img{
    height: 33vh;
    width: 18vw;
    border-radius: 50%;
}
.individual h2{
    padding: 1em;
}

/* Form and rows section */

.division-container{
    display: flex;
    flex-direction: row;
    /*height: 70vh;*/
    justify-content: space-between;
    /*background-color: #2d545e;*/
    color: white;

    background-image: url("../images/sergei-akulich--heLWtuAN3c-unsplash.jpg");
    /*height: 90vh; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.mask{
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: row;
    height: 70vh;
    justify-content: space-between;
    width: 100%;
}
.multiple-rows{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    width: 45em;
    padding: 2em;
}
.row1 h1{
    font-size: 2em;
}
.row1 p{
    font-size: 1.2em;
    
}
.get-in-touch{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Form styling*/

form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-left: 3px solid black;
    width: 22em;
    margin-right: 2.5em;
    padding: 3em;
    margin-bottom: 2.7em;
    text-align: center;
}
.form-rows h2{
    margin: 1em;
}
.form-rows p{
    margin: 1em;
    margin-top: 0;
}

.form-rows{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 15em;
    width: 18em;
    padding-top: 2em;

}

  
/* Style the input elements and the submit button */
input[type=text]{
    text-align: center;
    color: gray;
    border-radius: 5px;
    text-decoration: none;
    margin: 1em;
    border: 1px solid black;
    padding: 3px 20px;
}

input[type=email]{
    margin: 1em;
    text-align: center;
    color: gray;
    border-radius: 5px;
    text-decoration: none;
    border: 1px solid black;
    padding: 3px 20px;
}


/* Style the submit button */
input[type=submit] {
    background-color:rgb(86, 86, 245);
    cursor: pointer;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    padding: 3px 16px;
    color: white;
}
  
input[type=submit]:hover {
   opacity: 0.8;
} 


/*Footer Section*/

.footer-section-container{
    background-color: #31404A;
    height: 18em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.recent-news-section{
    text-align: left;
    padding: 3em;
    padding-top: 2em;
    width: 30em;
}
.recent-news-section h2{
    text-align: center;
    padding: 1em;
    padding-top: 0;
    text-transform: uppercase;
}


.logo-links-section{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 2em;
    padding-left: 1em;
}

.logo-links-section-div{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-left: 10em;
}

.logo-links-section img{
    margin-left: 4.7em;
}

.logo-links-section-div img{
    margin-left: 5.7em;
}

.logo-links-section-div h1{
    padding-top: 1em;
    text-align: center;
}

.footer-section-container img{
    height: 6em;
    width: 6em;
}
.footer-section-content{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.social-media-links{
    margin-left: 8.7em;
    display: inline-block;
}
.social-media-links i{
    padding: 0.5em;
    cursor: pointer;
}


                            /*Responsive section begins */

/* Extra Small devices*/
@media(max-width: 576px){
    .header-container{
        height: 15vh;
    }
    .nav-bar ul li{
        display: block;
        font-size: 0.7em;
    }
    .nav-bar ul{
        padding-right: 5.2em;
    }
    .hero-unit-container{
        padding-top: 0;
        display: block;
        height: 47vh;
        background-size: 130%;
    }
    .hero-unit-container h1{
        font-size: 1.5em;
        padding-top: 5em;
        color: white;
    }
    .hero-unit-container a{
        font-size: 0.7em;
        padding: 0.7em;
        text-align: center;  
        width: 25vw;
    }

    .paper-flex-row{
        flex-direction: column;
    }
    .individual:nth-child(3){
        padding-left: 0;
        padding-right: 0;
    }
    .individual{
        margin: 1em auto;
        width: 200px;
        height: 300px;
    }
    .individual2{
        width: 220px;
        height: 300px;
    }
    .paper-flex-container{
        background-image: none;
        background-color: #a0d2eb !important;
    }
    .paper-flex-container h1{
        font-size: 1.3em;
    }
    .individual{
        align-items: center;
    }
    .individual img{
        width: 50vw;
    }


    /*form and rows */
    .division-container{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        background-image: none;
    }
    .mask{
        background-image: none;
        display: flex;
        flex-direction: column;
        height: 75vh;
    }
    .multiple-rows{
        display: flex;
        flex-direction: column;
        width: auto;
    }
    .form-rows{
        border: none;
        display: block;
    }
    .form{
        border: none;
        border-top: 1px solid black;
    }

    /* Footer Section */

    .footer-section-container{
        display: flex;
        height: auto;
    }

    .footer-section-content{
        display: flex;
        flex-direction: column;
        height: auto;
        width: auto;
    }

    .recent-news-section{
        width: auto;
        padding-bottom: 0;
    }

    .logo-links-section{
        width: auto;
        margin-left: 0;
    }
    .social-media-links{
        display: flex;
        flex-direction: row;
        width: auto;
        margin-left: 0;
        justify-content: space-evenly;
    }
    .logo-links-section-div{
        margin-left: 0;
    }

    .logo-links-section-div img{
        padding-left: 55px;
    }
    
}

                            /* Tablet section begins */

@media(min-width: 768px) {
    .individual{
        margin: 1em auto;
        width: 190px;
        height: 300px;
    }
    .logo-links-section-div{
        margin-left: 0;
    }
    .social-media-links{
        margin-left: 0;
    }
}